div{
    width: 400px;
    color: black;
    background-color: #dcdbd9;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
}
.t{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}