.hh{
    list-style: none;
    width: 400px;
    font-size: 20px;
    margin: 20px auto;
}
.c{
    list-style: upper-roman;
}
.first,.second,.third{
    margin-bottom: 20px;
    background-color: #eee;
    padding: 10px;
}
.first .h li, .c li,.j li{
    background-color: white;
    margin: 5px;
    list-style-position: outside;
    padding: 5px;
}
.j{
    list-style: disc;
    padding-left: 0px;
}
.j li{
    list-style-position: inside;
}