div{
    width: 400px;
    margin: 20px;
    padding: 20px;
    background-color:beige;
    font-size: 30px;
    outline: 10px solid beige ;
}
.first{
    border-left: 10px solid #d72aa7;
}
.second{
    visibility: hidden;
}
.third{
    border-left: 10px solid #81ea04;
}