html{
    font-size: 20px;
}
p{
    text-align: center;
    margin: 40px;
    padding: 40px;
    font-weight: bold;
}
.f{
    font-size: 2.5rem;
}
.s{
    font-size: 2rem;
}
.t{
    font-size: 1.5rem;
}