p{
    margin: 30px;
    padding: 30px;
    font-size: 40px;
    text-align: center;
}
.f{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.s{
    font-family: 'Cairo', sans-serif;
}
.t{
    font-family: 'Jomhuria', cursive;
    font-weight: 400;
}